<div class="follow_container">
	<div class="right_row">
		<div class="widget-body">
			<p>
				Machine Learning Researcher at Bitdefender, Bucharest, Romania. 
				<br>
				More information about my team <a href="https://bit-ml.github.io/"> here </a>
			</p>
			<p>	
				Email: {{ $.Page.Site.Params.email }}
			</p>
			<p class="follow-me-icons">
				{{ range $.Page.Site.Params.social }}
					{{ if .footer }}
						<a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
					{{ end }}
				{{ end }}
			</p>
		</div>
	</div>
</div>