<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead  text-muted">
            I am a researcher in Machine Learning Department at Bitdefender. I got a BSc degree in Computer Science from the University of Bucharest in 2015 and an MSc in Artificial Intelligence also from the Univeristy of Bucharest in 2017. 
           </p>
           <p class="lead  text-muted">
            My research interests are computer vision and machine learning. In particular, I am interested in video understanding and graph neural networks.

<!--             Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. you <a href="#">measure</a> yourself by the people who measure themselves by you. it only took me <a href="#">six days</a>. -->
        </p>
    </div>
</div> <!-- / section -->
